
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-2 text-center">Welcome to our contest!</h1>
<br />
<p class="display-5 text-center">
    <a asp-controller="Home" asp-action="PeopleTable">Register</a> to win a brand new PlayStation5!</p>

<img src="~/img/ps5-controller.jpg" class="img-fluid align-content-center" alt="PlayStation controller"  />